<section class="d-flex flex-row pt-3">
    <div class="d-flex flex-column align-items-center p-1 me-1  ">
        <div class="svgStyleCalendar">
            <img src="assets/svg/ic_calendar.svg" alt="pin" >
        </div>
        <p class="imageText">Program</p>
    </div>
    <div class="d-flex flex-column align-items-center p-1 me-1 ">
        <div class="svgStyleArtworks">
            <img src="assets/svg/ic_frame.svg" alt="pin" class="artwork" >
        </div>
        <p class="imageText">Artworks</p>
    </div>
    <div class="d-flex flex-column align-items-center p-1 me-1">
        <div class="svgStyleMap">
            <img src="assets/svg/ic_pin.svg" alt="pin" >
        </div>
        <p class="imageText">Map</p>
    </div>
</section>