<footer class=" d-flex flex-row sticky-bottom justify-content-around pt-3 ">
    <div class=" d-flex flex-column justify-content-center align-items-center">
        <img src="assets/svg/ic_camera.svg" alt="home">
        <p>Scan</p>
    </div>

    <div class=" d-flex flex-column justify-content-center align-items-center">
        <img src="assets/svg/ic_eye.svg" alt="home">
        <p>Festivals</p>
    </div>
    <div class=" d-flex flex-column justify-content-center align-items-center">
        <img src="assets/svg/ic_megaphone.svg" alt="home">
        <p>News</p>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="assets/svg/ic_heart.svg" alt="home">
        <p>Favs</p>
    </div>
</footer>